// Iran Sans Font
$iranSansFontPath: "../fonts/IranSans";
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum).eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

body {
  font-family: IRANSans;
}
.col-xs-12 {
  width: 100%;

}
.btn-primary {
  color: #292727;
  background-color: #FFC107;
  border-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #292727;
  background-color: #DEC168;
  border-color: transparent;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FFC107;
  border-color: transparent;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #292727;
  background-color: #DEC168;
  border-color: transparent;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn-primary .badge {
  color: #FFC107;
  background-color: #292727;
}
#slogan{
  h1{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 59px;
    font-weight: bold;
  }
  p {
    font-size: 1.3em;
    color: rgba(249, 249, 249, 0.91);
  }
}
.template-example {
  margin-bottom: 30px;
  .template-title-example {

    font-weight: normal;
    color: #34495E;

    &:after {
      display: none;
    }
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }

  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 0 15px;
  }
}

.list-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    float: left;
    margin-right: 5px;
  }

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: IRANSans;
}
.product-img{

  width: 100%;
  max-width: 200px;
  height: 220px;
}
.product-more{
  width: 100%;
  height: 220px;
}


.container {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.navbar {
  min-height: 80px;
  margin-bottom: 25px;
  padding: 0;
  display: block;
}

.navbar > .container, .navbar > .container-fluid {
  display: block;
}
.section-container {
  padding: 45px 0;
}

.navbar-brand {
  float: left;
  padding: 27.5px 15px;
  font-size: 23px;
  line-height: 25px;
  height: 80px;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 23px;
  margin-bottom: 23px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.navbar-nav > li > a {
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 1.428571429;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: rgb(255, 193, 7);;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 14px 22px;
  font-size: 23px;
  line-height: 1.3333333;
  border-radius: 4px;
}
.btn {
  transition: all 0.1s linear;
}
.mapouter {
  position:relative;
  text-align:right;
  height:200px;
  width:100%;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:200px;
  width:100%;
}
.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.fa-icon{
  border: 1px solid white;
  font-size: 1.2em;
  &:hover{
    border-color: rgb(255, 193, 7);;
  }
}
@media (min-width: 992px) {
  .navbar-right {
    float: right !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 991px){
.navbar-nav .open .dropdown-menu {
  display: block;
}
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: white !important;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover{
    color: rgb(255, 193, 7);
    text-decoration: none;
  }
}
@media (min-width: 992px) {
  .navbar-nav > li > a {
    padding-top: 27.5px;
    padding-bottom: 27.5px;
  }
  .card{
    padding: 2rem;
  }
}
@media (max-width: 768px ) {
  .navbar-brand{
    font-size: 1.1em;
    .navbar-logo-img{
      height: 35px;
    }
  }
  #slogan{
    h1{
      font-size: 39px;

    }
    .btn-lg{
      font-size: 16px;
    }
  }
}
.dropdown-menu {
  text-align: right;
  padding: 0.5rem;
  background-color:rgba(0,0,0,0.5) !important;
}
.dropdown-item{
  display: block;
  margin: 0.25rem;
  font-size: 0.9em;
  color: white;
  padding: 0.25rem;

}
.dropdown-item:hover{
  text-decoration: none;
  color: rgb(255, 193, 7);
  background-color:rgba(0,0,0,0.6) !important;
}
@media  (min-width:992px){
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

.product-icon{
  max-height: 40px ;
  //margin: 2px;
  margin-bottom: 2px;
}
.product-img-alt{
  max-width: 400px;
  height: 300px;
}